@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GFL .NET courses - Test Task</h1>
    <p>Test task for GeeksForLess .NET Course. Realization of the task on the Configuration page.</p>
</div>



